@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div class="container">
    <a asp-controller="Account" asp-action="ChangeUserRoleToAdmin" class="btn btn-success">Change Role</a> <br /> <br />

    <a asp-controller="Order" asp-action="Index" class="btn btn-success">All Orders From User, Export All Tickets, Import Users</a>

</div>