@model DomasnaIS.Domain.DTO.AddToShoppingCartDto
@{
    ViewData["Title"] = "AddTicketToCart";
}

<h1>Add Ticket To Cart</h1>

<hr />

<div class="row">
    <div class="col-4 m-auto">
        <form asp-action="AddTicketToCart" method="post">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-group">
                <label asp-for="SelectedTicket.MovieTitle"></label>
                <input asp-for="SelectedTicket.MovieTitle" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>